body {
  font-family: "Fira Sans", sans-serif;
  }
  
  header {
  background-color: #0077b6;
  color: white;
  }
  
  .time-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  }
  
  .hour {
  background-color: #FFD166;
  font-weight: bold;
  }
  
  .description {
  background-color: #FFFFFF;
  border: 1px solid #CED4DA;
  }
  
  .past .description {
  background-color: #E8E8E8;
  }
  
  .present .description {
  background-color: #FF6961;
  }
  
  .future .description {
  background-color: #77DD77;
  }
  
  .saveBtn {
  background-color: #0077b6;
  color: white;
  }
  
  .saveBtn:hover {
  background-color: #023e8a;
  color: white;
  }
  
  
  
  
  
  